body {
    background-color: #eeeeee;
}

@media (max-width: 576px) {
    .search-nav-btn {
        height: 50%;
    }
}

/*@media (min-width: 768px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}*/

.footer-link {
    list-style-type: none;
}

.footer-link a {
    text-decoration: none;
    font-size: 90%;
}

.footer-link a {
    color: #8c8e8b;
}

.footer-link a:hover {
    color: #0e0e0e;
}


.form-modal .modal-body {
    overflow-y: auto;
    height: calc(100vh - 200px);
}

td {
    word-break: break-all;
    vertical-align: middle !important;
}

table.dataTable tbody td.select-checkbox,
table.dataTable thead th.select-checkbox {
    position: relative;
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after,
table.dataTable thead th.select-checkbox:before,
table.dataTable thead th.select-checkbox:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable thead th.select-checkbox:before {
    content: ' ';
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid black;
    border-radius: 3px;
}
