body {
  padding-bottom: 10px;
  background-color: #eeeeee;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-login .form-control:focus {
  z-index: 2;
}

.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer-link {
  list-style-type: none;
}

.footer-link a {
  text-decoration: none;
  font-size: 90%;
}

.footer-link a {
  color: #8c8e8b;
}

.footer-link a:hover {
  color: #0e0e0e;
}

#scroll-up-btn {
  position: fixed;
  bottom: 50px;
  left: 30px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.article-tag {
  width: 20%;
  margin: 1px 5px 10px 5px;
  max-height: 30px;
  line-height: 30px;
  padding: 1px 4px 30px 12px;
}