body {
  padding-bottom: 10px;
  background-color: #eeeeee;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-login .form-control:focus {
  z-index: 2;
}

.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer-link {
  list-style-type: none;
}

.footer-link a {
  text-decoration: none;
  font-size: 90%;
}

.footer-link a {
  color: #8c8e8b;
}

.footer-link a:hover {
  color: #0e0e0e;
}

#scroll-up-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
